/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Background */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

/* Glass Card Form */
form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 16px;
    width: 320px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    color: white;
    animation: fadeIn 0.6s ease-in-out;
}

/* Inputs */
input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: white;
    transition: 0.3s;
}

input::placeholder {
    color: #eee;
}

input:focus, select:focus {
    background: rgba(255,255,255,0.3);
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff7eb3, #ff758c);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Links */
p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #ffd369;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Expense List */
#expenseList {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 320px;
    list-style: none;
}

/* Expense Card */
#expenseList li {
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideIn 0.4s ease;
      font-size: 14px; 
}

/* Delete Button */
#expenseList button {
    background: #ff4b5c;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
}

#expenseList button:hover {
    background: #ff1e3c;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/* Dropdown options */
option {
    color: black;
}